@page "/"

<div class="card" style="width: 18rem;">
  <img src="https://yournorthcounty.com/wp-content/uploads/2017/02/karaoke-north-county-san-diego.png" class="card-img-top" alt="Twilio Jukebox Hero Image">
  <div class="card-body">
    <h2 class="card-title">Twilio Jukebox</h2>
    <p class="card-text">Welcome to Twilio Jukebox. To get started, text a song title to ().....</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>
